
@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');

:root {
    /* Fonts */

    /* Colours */
    --color-background: #000;
    --pink: #A5239F;
    --blue: #62FFFF;

    /* Utils */
    --box-shadow: 0px 6px 5px 0px #A5239F;

}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    background-image: url('../images/background_grid.svg');
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
}

main {
    flex: 1 0 auto;
    padding-bottom: 5rem;
}

.container {
    background-color: var(--color-background);
    max-width: 1200px;
    min-height: 80vh;
}

h1, h2, h3 {
    font-family: 'Hurricane', sans-serif;
    color: #fff;
}

h1 {
    font-size: 6rem;
    margin: 0;
}

h2 {
    font-size: 4rem;
}

a {
    text-decoration: none;
}

hr {
  width: 50%;
  margin: 50px auto;
}

/* Scroll Bar Stylings */

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background: var(--color-background); 
    
  }

::-webkit-scrollbar-thumb {
    background: #1a1a1a; 
    border-radius: 5px;
  }

::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

/* Header */

nav {
    background-color: var(--color-background);
}

.nav-icon-svg {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}

.active {
    color: var(--pink);
}

.nav-shadow {
    -webkit-box-shadow: var(--box-shadow); 
    box-shadow: var(--box-shadow);
}

.create-btn {
    border-radius: 8px;
    background-color: var(--pink);
    transition: 0.3s;
}

.create-btn:hover{
    background-color: var(--blue);
    color: var(--color-background);
}

/* Home */

#logo {
    margin-top: 2.5rem;
    max-height: 25rem;
    -webkit-box-reflect: below -5px
    linear-gradient( to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.1)
    );
}

/* Footer*/

footer {
    flex-shrink: 0;
    background-color: var(--color-background);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 2;
    height: 5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.social-icons {
    color: var(--pink);
    font-size: 3rem;
    margin: 0 1rem;
    transition: color 0.3s ease-in-out;
}

.social-icons:hover {
    color: var(--blue);
}

/* Form */

.form {
    width: 100%;
    margin: 3% auto;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
}

/* About */

.profile-pic {
    -webkit-box-reflect: below -30px
    linear-gradient( to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.1)
    );
}

/* Library */

.bg-black{
    background-color: var(--color-background);
}

.mix-icon {
    max-height: 150px;
    width: auto;
}

/* Track List */

.tracklistimg {
    max-height: 100px;
    width: auto;
    padding: 1rem;
}