<footer>
    <!-- Social media icons -->
    <a href="https://github.com/Terafora" target="_blank" aria-label="Linked - Opens in a new tab">
        <i class="fa-brands fa-github social-icons"></i>
    </a>
    <a href="www.linkedin.com/in/kimochi-cool" target="_blank" aria-label="Linked - Opens in a new tab">
        <i class="fa-brands fa-linkedin social-icons"></i>
    </a>
    <a href="https://terafora.github.io/Portfolio-Site/index.html" target="_blank" aria-label="Linked - Opens in a new tab">
        <i class="fa-solid fa-link social-icons"></i>
    </a>
</footer>