{% load static %}

<header>
  {% with request.resolver_match.url_name as url_name %}
  <nav class="navbar navbar-expand-lg nav-shadow align-items-baseline">
    <div class="container-fluid">
      <a class="navbar-brand text-light d-none d-md-inline" href="{% url 'home' %}">
        <img src="{% static 'images/logo.svg' %}" class="nav-icon-svg" alt="My Mixtape Logo Temp">
      </a>
      <a class="navbar-brand text-light d-none d-md-inline" href="{% url 'home' %}">My Mix Tape</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link text-light {% if url_name == "home" %} active {% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
          <a class="nav-link text-light {% if url_name == "about" %} active {% endif %}" href="{% url 'about' %}">About</a>
          {% if user.is_authenticated %}
            <a class="nav-link text-light {% if url_name == "library" %} active {% endif %}" href="{% url 'library' %}">My Library</a>
          {% endif %}
        </div>
        <div class="navbar-nav">
          {% if user.is_authenticated %}
            <a class="nav-link text-light {% if url_name == "accounts_logout" %} active {% endif %}" href="{% url 'account_logout' %}">Logout</a>
          {% else %}
            <a class="nav-link text-light {% if url_name == "account_login" %} active {% endif %}" href="{% url 'account_login' %}">Login</a>
            <a class="nav-link text-light create-btn py-2 px-5 {% if url_name == "accounts_signup" %} active {% endif %}" href="{% url 'account_signup' %}"><strong>Sign Up</strong></a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
  {% endwith %}
</header>
