{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Sign Out" %}{% endblock title %}

{% block content %}
<div class="container d-flex flex-column justify-content-center align-items-center vh-100 text-center text-white change-form">
  <div class="container text-center">
    <h1 class="text-center h2 mt-3">{% trans "Sign Out" %}</h1>
    <div class="d-flex flex-column align-items-center">
      <p>{% trans 'Are you sure you want to sign out?' %}</p>

      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
        {% endif %}
        <button type="submit" class="btn add">{% trans 'Sign Out' %}</button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
