{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'images/cassette_icon.svg' %}">
    {% block onload_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js" integrity="sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% endblock %}
    {% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
</head>
<body>
    <video id="video-background" class="d-none d-md-block" autoplay muted loop>
        <source src="https://res.cloudinary.com/djrh6ryfr/video/upload/v1701721471/My_Mixtape_animated_bg_tn6cyk.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    {% include 'includes/header.html' %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
    {% include 'includes/footer.html' %}
    <script src="https://kit.fontawesome.com/b30a727321.js" crossorigin="anonymous"></script>
    {% block extra_javascript %}
    {% endblock %}
</body>
</html>