{% extends 'base.html' %}

{% load static %}

{% block title %} About {% endblock %}

{% block content %}

<div class="container justify-content-center text-center mt-5">
    <div class="container text-center text-white">
        <h1>About</h1>
        <h2>The Site</h2>
        <div class="row px-md-5 text-start">
            <div class="col-lg-6 py-3 py-md-5">
                <!-- Space for future image -->
            </div>
            <div class="col-lg-6 py-3 py-md-5">
                <p>My Mixtape is where music isn't just about playlists; it's a canvas for storytelling and connection. Craft your unique mixtapes, weaving together melodies sourced from across the digital landscape. With My Mixtape, you're not just curating songs; you're sharing a piece of your soul, inviting others to groove to the rhythm of your discoveries. Our platform empowers you to dive into a world where every mixtape becomes a narrative waiting to be felt, shared, and cherished. It's more than music; it's an auditory adventure that celebrates the art of curation, inspiring connections through the universal language of tunes.</p>
            </div>
            <div class="col-12 py-3 py-md-5">
                <p>At My Mixtape, we transcend the ordinary playlists to create a space where the love for music fosters connections. Immerse yourself in a diverse musical landscape, exploring melodies meticulously crafted by fellow enthusiasts. Here, each mixtape is a doorway to someone's unique tale, a symphony of discovery waiting to unfold. Our mission goes beyond mere song compilation; it's about sparking inspiration, self-expression, and an endless journey through soundscapes. Join us in celebrating the artistry of curating your story through music—a platform where sharing isn't just about the tracks, but about the connections and stories they create. Welcome to My Mixtape—an invitation to discover, connect, and find the heartbeat in every mix.</p>
            </div>
        </div>
        <hr>
        <div class="row px-md-5">
            <div class="col-lg-6 py-3 py-md-5">
                <h2>The Creator</h2>
                <p class="text-start">As the visionary creator behind My Mixtape, I am a dedicated software developer and web designer driven by a passion for crafting digital experiences that foster human connection. With a fervour for coding and design, my mission is to merge functionality with the power to unite, weaving intricate applications that resonate with joy and connectivity. My journey in the realms of software development and web design has been guided by a singular purpose: to create platforms like My Mixtape that transcend mere functionality, inviting users into a world where technology becomes a conduit for shared experiences. I strive to infuse every aspect of my creations with designs that not only captivate the eye but also bring delight and inspiration to every user, forging a path where innovation meets the art of bringing people together through seamless, intuitive, and joyous digital spaces.</p>
            </div>
            <div class="col-lg-6 py-3 py-md-5">
                <img src="{% static 'images/about_profile.svg' %}" class="profile-pic" alt="Charlotte Stone - creator of My Mixtape - image">
            </div>
        </div>
    </div>
</div>

{% endblock %}