{% extends 'base.html' %}

{% block title %}Add Track{% endblock %}

{% block content %}
<div class="container justify-content-center text-center mt-5 mb-5 text-white">
    <h1>Add Track</h1>
    <div>
        <form method="POST" enctype="multipart/form-data" class="p-2 form">
            <h1>Track Details</h1>
            {% csrf_token %}
            {{ form.media }}
            {{ form|crispy }}
            <div class="text-centre">
                <button type="submit"
                class="btn btn-primary mt-2">
                    Add Track
                </button>
                <a href="{% url 'library' %}" class="btn btn-secondary mt-2">Back</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}