{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container d-flex justify-content-center justify-text-center">
    <img src="{% static 'images/My_Mix_Tape_logo.svg' %}" id="logo" alt="my mix tape logo">
</div>
<h1 class="d-none">Home</h1>
<div class="container d-flex justify-content-center text-center mt-5">
    <div class="row">
        <h2 class="text-center">Welcome to My Mix Tape</h2>
        <div class="col-12 col-lg-6">
            <p class="text-center">Create your own mix tape and share it with your friends!</p>
        </div>
        <div class="col-12 col-lg-6">
            <p class="text-center">Listen to your friends mix tapes and discover new music!</p>
        </div
    </div>
{% endblock %}