{% extends 'base.html' %}
{% load static %}

{% block title %} Mix Tapes {% endblock %}

{% block content %}
<div class="container justify-content-center text-center mt-5">
    <h1>Your Mix Tapes</h1>
</div>

<div class="container mt-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 justify-content-center">
        {% for mixtape in user_mixtapes %}
            {% if mixtape.id %}
                <div class="col">
                    <div class="card">
                        <img {% if mixtape.image %} src="{{ mixtape.image }}" {% else %} src="{% static 'images/mixtape.png' %}" {% endif %} class="card-img-top" {% if mixtape.image_alt %} alt="{{ mixtape.image_alt }}" {% else %} alt="{{ mixtape.name }}"{% endif %}>
                        <div class="card-body">
                            <h5 class="card-title">{{ mixtape.name }}</h5>
                            {% if mixtape.pk %}
                                <a href="{% url 'mixtape_detail' mixtape.pk %}" class="btn btn-primary">View Mix Tape</a>
                            {% else %}
                                <span class="btn btn-primary disabled">View Mix Tape</span>
                            {% endif %}
                            <a href="{% url 'delete_mixtape' pk=mixtape.pk %}" class="btn btn-danger">Delete Mix Tape</a>
                            <a href="{% url 'edit_mixtape' pk=mixtape.pk %}" class="btn btn-secondary">Edit Info</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<div class="container justify-content-center text-center mt-5">
    <a href="{% url 'add_mixtape' %}">
        <button class="btn btn-primary">Add Mix Tape</button>
    </a>
</div>

{% endblock %}
