{% extends 'base.html' %}
{% load static %}

{% block title %} Mix Tapes {% endblock %}

{% block content %}
<div class="container justify-content-center text-center py-5">
    <h1 class="my-5">Your Mix Tapes</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        {% for mixtape in user_mixtapes %}
            <div class="col">
                <div class="card bg-black h-100 d-flex flex-column">
                    {% if mixtape.pk %}
                        <a href="{% url 'mixtape_detail' mixtape.pk %}">
                            {% if mixtape.image.url != "http://res.cloudinary.com/djrh6ryfr/image/upload/placeholder" %}
                                <img src="{{ mixtape.image.url }}" class="card-img-top img-fluid w-100 card-pic" alt="{% if mixtape.image_alt %}{{ mixtape.image_alt }}{% else %}{{ mixtape.name }}{% endif %}">
                            {% else %}
                                <img src="{% static 'images/mixtape_icon.svg' %}" class="card-img-top img-fluid w-100 mix-icon" alt="Mixtape Image">
                            {% endif %}
                        </a>
                    {% endif %}
                    <div class="card-body">
                        <h3 class="card-title text-white">{{ mixtape.name }}</h3>
                    </div>
                    <div class="mt-auto">
                        <a href="{% url 'edit_mixtape' pk=mixtape.pk %}" class="btn edit">Edit</a>
                        <a href="{% url 'delete_mixtape' pk=mixtape.pk %}" class="btn delete me-2">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <button class="btn add mt-3">
        <a href="{% url 'add_mixtape' %}">Add Mix Tape</a>
    </button>
</div>
{% endblock %}
