{% extends "base.html" %}

{% block title %}Delete Mixtape{{object.name}}{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center h2">Confirm Mixtape Deletion</h1>
    <div class="d-flex justify-content-center pt-3">
        <form method="post" class="text-center">
            {% csrf_token %}
            <p>Are you sure that you want to delete "{{ object.name }}"?</p>
            <input type="submit" value="Confirm" class="btn btn-primary w-25">
        </form>
    </div>
</div>

{% endblock %}